.contact-container {
  background-color: #12151f;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(white, #12151f);
}

.contact-text {
  height: 150px;
  width: 400px;
  background: url("https://i.imgur.com/4vzyZMe.gif");
  background-size: cover;
  font-size: 100px;
  font-family: "Righteous", cursive;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.form-container {
  width: 300px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container button {
  margin-top: 25px;
}
