.nav-bar {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #12151f;
  font-family: "Raleway", sans-serif;
}

.nav-bar h1 {
  margin-left: 25px;
}

.nav-links {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

.nav-links a {
  text-decoration: none;
  color: #12151f;
}

.nav-links a:hover {
  color: #05f4b7;
}

.filter {
  background-image: linear-gradient(rgba(255, 0, 0, 0), #12151f);
  height: 100%;
  width: 100%;
}
