.projects-container {
  z-index: 1;
  background-color: #12151f;
  /* height: 800px; */
  width: 100%;
  border-radius: 10px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: top;
  background-image: linear-gradient(white, #12151f);
  box-shadow: 5px 5px 20px #12151f;
  padding-bottom: 15px;
}

.projects-text {
  height: 150px;
  width: 400px;
  background: url("https://i.imgur.com/4vzyZMe.gif");
  background-size: cover;
  font-size: 100px;
  font-family: "Righteous", cursive;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
  font-family: "Raleway", sans-serif;
}

.project-container {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #12151f;
}

.project-image {
  height: 200px;
  width: auto;
  margin: 10px;
  border-radius: 5px;
}

.project-description {
  width: 300px;
  text-align: justify;
}

.project-buttons {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
}
