.projects-container {
  z-index: 1;
  background-color: #12151f;
  /* height: 800px; */
  width: 100%;
  border-radius: 10px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: top;
  background-image: linear-gradient(white, #12151f);
  box-shadow: 5px 5px 20px #371bb1;
}

.projects-text {
  height: 150px;
  width: 400px;
  background: url("https://i.imgur.com/4vzyZMe.gif");
  background-size: cover;
  font-size: 100px;
  font-family: "Righteous", cursive;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 90%;
  font-family: "Raleway", sans-serif;
}
.project-image {
  height: 200px;
  width: auto;
  border: 2px solid #12151f;
}

.project-description {
  width: 200px;
  text-align: justify;
}
